{
  email youremail@example.com
}

s3.localhost {
  reverse_proxy s3:8888
}

nodred.localhost {
  reverse_proxy node-red:1880
}

mqtt.localhost {
  reverse_proxy ie-databus:1883
}

jupyterlab.localhost {
  reverse_proxy jupyterlab:8889
}
