[project]
authors = [{name = "Volker L.", email = "ligno.blades@gmail.com"}]
dependencies = [
  "sf-hamilton[visualization]>=1.69.0",
  "python-dotenv>=1.0.1",
  "fsspec>=2024.5.0",
  "pyyaml>=6.0.1",
  "typer>=0.12.3",
  "rich>=13.9.3",
  "munch>=4.0.0",
  "sf-hamilton-sdk>=0.5.2",
  "dill>=0.3.8",
  "pendulum>=3.0.0",
  "tqdm>=4.67.1",
  "pydantic>=2.10.2",
]
description = "A simple workflow framework. Hamilton + APScheduler = FlowerPower"
keywords = [
  "hamilton",
  "workflow",
  "pipeline",
  "scheduler",
  "apscheduler",
  "dask",
  "ray",
]
name = "FlowerPower"
readme = "README.md"
requires-python = ">= 3.11"
version = "0.8.5.6"

[project.scripts]
flowerpower = "flowerpower.cli:app"

[project.optional-dependencies]
# dask = ["dask[complete]>=2024.7.1"]
filesystem-ext = [
  "pyarrow>=18.1.0",
  "polars>=1.15.0", #"duckdb>=1.1.3",  #"datafusion>=42.0.0",
  "orjson>=3.10.12",
]
mongodb = ["pymongo>=4.7.2"]
mqtt = ["paho-mqtt>=2.1.0", "orjson>=3.10.11"]
opentelemetry = [
  "opentelemetry-api>=1.5.0",
  "opentelemetry-sdk>=1.5.0",
  "opentelemetry-exporter-jaeger>=1.21.0", #"sf-hamilton[opentelemetry]>=1.83.3",
]
ray = ["ray>=2.34.0"]
redis = ["redis>=5.0.4"]
scheduler = [
  "aiosqlite>=0.20.0",
  "greenlet>=3.0.3",
  "asyncpg>=0.29.0",
  "sqlalchemy>=2.0.30",
  "apscheduler>=4.0.0a5", #"apscheduler @ git+https://github.com/agronholm/apscheduler",
]
tui = ["textual>=0.85.2"]
ui = ["sf-hamilton-ui>=0.0.11"]
webserver = [
  "sanic>=24.6.0",
  "sanic-ext>=23.12.0",
  "orjson>=3.10.11",
]

[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/flowerpower"]

[tool.hatch.build.targets.sdist]
exclude = [
  "tests",
  "docs",
  "examples",
  "src/flowerpower.egg-info",
  "src/flowerpower/__pycache__",
  "docker",
  ".gitignore",
]

[tool.uv]
dev-dependencies = [
  "ipython>=8.24.0",
  "isort>=5.13.2",
  "ruff>=0.7.1",
  "polars>=1.12.0",
  "duckdb>=1.1.3",
  "jupyterlab>=4.3.0",
  "deltalake>=0.21.0",
  "datafusion>=42.0.0",
]
managed = true
