[project]
authors = [{name = "Volker L.", email = "ligno.blades@gmail.com"}]
dependencies = [
  "sf-hamilton[visualization]>=1.69.0",
  "python-dotenv>=1.0.1",
  "fsspec>=2024.5.0",
  "pyyaml>=6.0.1",
  "typer>=0.12.3",
  "rich>=13.7.1",
  "munch>=4.0.0",
  "sf-hamilton-sdk>=0.5.2",
  "dill>=0.3.8",
]
description = "A simple workflow framework. Hamilton + APScheduler = FlowerPower"
keywords = [
  "hamilton",
  "workflow",
  "pipeline",
  "scheduler",
  "apscheduler",
  "dask",
  "ray",
]
name = "FlowerPower"
readme = "README.md"
requires-python = ">= 3.11"
version = "0.5.3.1"

[project.scripts]
flowerpower = "flowerpower.cli:app"

[project.optional-dependencies]
# dask = ["dask[complete]>=2024.7.1"]
mongodb = ["pymongo>=4.7.2"]
mqtt = ["paho-mqtt>=2.1.0"]
ray = ["ray>=2.34.0"]
redis = ["redis>=5.0.4"]
scheduler = [
  "aiosqlite>=0.20.0",
  "greenlet>=3.0.3",
  "asyncpg>=0.29.0",
  "sqlalchemy>=2.0.30",
  "apscheduler>=4.0.0a5", #"apscheduler @ git+https://github.com/agronholm/apscheduler",
]
ui = ["sf-hamilton-ui>=0.0.11"]

[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[tool.rye]
dev-dependencies = [
  "ipython>=8.24.0",
  "isort>=5.13.2",
  "pillow>=10.3.0",
  "cloudpickle>=3.0.0",
  "dill>=0.3.8",
  "cbor2>=5.6.4",
  "lxml>=5.3.0",
  "msgspec>=0.18.6",
]
#[tool.rye.scripts]
#flowerpower = {cmd = ["python", "-m", "flowerpower.cli"]}
managed = true

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/flowerpower"]

[tool.hatch.build.targets.sdist]
exclude = [
  "tests",
  "docs",
  "examples",
  "src/flowerpower.egg-info",
  "src/flowerpower/__pycache__",
  "docker",
  ".gitignore",
]
