[project]
name = "FlowerPower"
description = "A simple workflow framework. Hamilton + APScheduler = FlowerPower"
authors = [{ name = "Volker L.", email = "ligno.blades@gmail.com" }]
readme = "README.md"
requires-python = ">= 3.11"
version = "0.9.9.25"
keywords = ["hamilton", "workflow", "pipeline", "scheduler", "apscheduler", "dask", "ray"]
dependencies = [
  'aiobotocore<2.18.0',
  'dill>=0.3.8',
  'fsspec>=2024.10.0',
  'munch>=4.0.0',
  'pendulum>=3.0.0',
  'pyarrow<19.0.0',
  'pydantic>=2.10.2',
  'python-dotenv>=1.0.1',
  'pyyaml>=6.0.1',
  'rich>=13.9.3',
  's3fs>=2024.10.0',
  'sf-hamilton-sdk>=0.5.2',
  'sf-hamilton[visualization,rich,tqdm]>=1.69.0',
  'tqdm>=4.67.1',
  'typer>=0.12.3',
]


[project.urls]
"Homepage"    = "https://github.com/legout/flowerpower"
"Bug Tracker" = "https://github.com/legout/flowerpower/issues"

[project.scripts]
flowerpower = "flowerpower.cli:app"

[project.optional-dependencies]
io = [
  "adbc-driver-manager>=1.4.0",
  #"connectorx>=0.4.1",
  'datafusion>=43.1.0',
  "deltalake>=0.24.0",
  'duckdb>=1.1.3',
  'orjson>=3.10.12',
  "pandas>=2.2.3",
  'polars>=1.15.0',
  'pyarrow>=18.1.0',
  'pydala2>=0.9.4.5',
  "redis>=5.2.1",
  "sherlock>=0.4.1",
]
io-legacy = [
  "adbc-driver-manager>=1.4.0",
  #"connectorx>=0.4.1",
  'datafusion>=43.1.0',
  "deltalake>=0.24.0",
  'duckdb>=1.1.3',
  'orjson>=3.10.12',
  "pandas>=2.2.3",
  'polars-lts-cpu>=1.15.0',
  'pyarrow>=18.1.0',
  'pydala2>=0.9.4.5',
  "redis>=5.2.1",
  "sherlock>=0.4.1",
]
mongodb = ["pymongo>=4.7.2"]
mqtt = ["paho-mqtt>=2.1.0", "orjson>=3.10.11"]
opentelemetry = [
  "opentelemetry-api>=1.5.0",
  "opentelemetry-sdk>=1.5.0",
  "opentelemetry-exporter-jaeger>=1.21.0", #"sf-hamilton[opentelemetry]>=1.83.3",
]
ray = ["ray>=2.34.0"]
redis = ["redis>=5.0.4"]
scheduler = ['aiosqlite>=0.21.0', 'apscheduler>=4.0.0a5', 'asyncpg>=0.29.0', 'greenlet>=3.0.3', 'sqlalchemy>=2.0.30']

tui       = ["textual>=0.85.2"]
ui        = ["sf-hamilton-ui>=0.0.11"]
webserver = ["sanic>=24.6.0", "sanic-ext>=23.12.0", "orjson>=3.10.11"]


[tool.uv]
dev-dependencies = [
  "ipython>=8.24.0",
  "isort>=5.13.2",
  "ruff>=0.7.1",
  "polars>=1.12.0",
  "duckdb>=1.1.3",
  "jupyterlab>=4.3.0",
  "deltalake>=0.21.0",
  "datafusion>=42.0.0",
  "orjson>=3.10.14",
  "joblib>=1.4.2",
  "sanic>=24.12.0",
  "sanic-ext>=23.12.0",
  "apscheduler>=4.0.0a5",
  "sqlalchemy>=2.0.37",
  "asyncpg>=0.30.0",
  "paho-mqtt>=2.1.0",
  "greenlet>=3.1.1",
  "obstore>=0.3.0",
  "pytest>=8.3.4",
  "mocker>=1.1.1",
  "marimo>=0.10.19",
  "panel>=1.6.0",
  "ipywidgets>=8.1.5",
  "scikit-learn>=1.6.1",
  "datamodel-code-generator>=0.27.2",
  "arro3-core>=0.4.5",
  "adbc-driver-manager>=1.4.0",
  "adbc-driver-sqlite>=1.4.0",
]
package = true
