{
	email lignoblades@gmail.com
	auto_https off
}

codeserver.flowerpower.local {
	reverse_proxy codeserver:8443
}

minio.flowerpower.local {
	reverse_proxy minio:9000
}

mqtt-nanomq.flowerpower.local {
	reverse_proxy mqtt-nanomq:1884
}

mqtt-mosquitto.flowerpower.local {
	reverse_proxy mqtt-mosquitto:1883
}

mongodb.flowerpower.local {
	reverse_proxy mongodb:27017
}

backend.flowerpower.local {
	reverse_proxy hamilton-ui-backend:8241
}

frontend.flowerpower.local {
	reverse_proxy hamilton-ui-frontend:8242
}

dockge.flowerpower.local {
	reverse_proxy dockge:5001
}
