{
	email user@example.com
}

codeserver.flowerpower.local {
	reverse_proxy codeserver:8443
}

minio.flowerpower.local {
	reverse_proxy minio:9001
}


hamilton-ui.flowerpower.local {
	reverse_proxy hamilton-ui-frontend:8242
}

dockge.flowerpower.local {
	reverse_proxy dockge:5001
}
