
{% extends "base.html" %}

{% block title %}Schedules - FlowerPower{% endblock %}

{% block content %}
    <h2>Schedules</h2>
    
    {% if schedules %}
        <ul>
            {% for schedule in schedules %}
                <li class="schedule-item">
                    <h4>{{ schedule.id }}</h4>
                    <p>Next run: {{ schedule.next_run }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No schedules found.</p>
    {% endif %}
{% endblock %}
