

jupytercode.localhost {
    reverse_proxy jupytercode:8888
}

minio.localhost {
    reverse_proxy minio:9001
}

minio_api.localhost {
    reverse_proxy minio:9000
}

mqtt.localhost {
    reverse_proxy jupytercode:1883
}

redis.localhost {
    reverse_proxy minio:6379
}

mongodb.localhost {
    reverse_proxy mqtt:27017
}

nodered.localhost {
    reverse_proxy mqtt:1880
}

hamilton_ui.localhost {
    reverse_proxy hamilton_ui:8242
}

postgres.localhost {
    reverse_proxy hamilton_ui:5432
}